<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>430409629937-0ajrmpjav7ll8dth7lqj8sgi0fv6behs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.430409629937-0ajrmpjav7ll8dth7lqj8sgi0fv6behs</string>
	<key>API_KEY</key>
	<string>AIzaSyC2zI8WZZ33KBl9NHWMRv9ZQ7AFZcsoAtg</string>
	<key>GCM_SENDER_ID</key>
	<string>430409629937</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.carambolo.rnfirebase</string>
	<key>PROJECT_ID</key>
	<string>rn-firebase-c1728</string>
	<key>STORAGE_BUCKET</key>
	<string>rn-firebase-c1728.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:430409629937:ios:edc77d2ebce0b37043e950</string>
</dict>
</plist>